body{
	background-image:url(fon4.jpg);
	background-size:cover;
	

	
	
	
}

#slova{
	text-align:center;
	text-shadow: 10px 10px 10px;
	padding:250px;
	font-size:70px;
	color:#FFFFFF;
	

	
	
	
	
	
}
#programma{
	text-align:center;
	text-shadow: 9px 9px 9px;
	font-size:60px;
	color:#FFFFFF;
	
	
	
	
	
}


#torzestvo{
	text-align:left;
	text-shadow: 10px 10px 10px;
	color:#FFFFFF;
	margin:70px;
	margin-left:900px;
	font-size:65px;
	
	
	}

	a{
		text-decoration: none;

		}
#slova2{
	
	text-shadow: 10px 10px 10px;
	padding:200px;
	font-size:80px;
	color:#FFFFFF;
	letter-spacing: 5px;
	text-align:justify;
	word-spacing: 20px;
}
#slova3{
	text-shadow: 10px 10px 10px;
	padding:250px;
	font-size:80px;
	color:#FFFFFF;
}

#slova4{
	text-shadow: 10px 10px 10px;
	padding:200px;
	font-size:60px;
	color:#FFFFFF;
	letter-spacing: 5px;
	text-align:justify;
	word-spacing: 20px;
	text-align:center;
}

#slova5{
	text-shadow: 10px 10px 10px;
	padding:100px;
	font-size:60px;
	color:#FFFFFF;
}

#slova6{
	text-shadow: 10px 10px 10px;
	padding:100px;
	font-size:60px;
	color:#FFFFFF;
}
#slova7{
	text-shadow: 10px 10px 10px;
	padding:100px;
	font-size:70px;
	color:#FFFFFF;
}
#slova8{text-shadow: 10px 10px 10px;
	padding:250px;
	font-size:80px;
	color:#FFFFFF;
	
}